# Python virtual environment
venv/

# Compiled/optimized python files
*.py[co]
__pycache__

# JetBrains
.idea/

# Secret credentials
openbudget/credentials.py
fixtures/sites.yml

# SQLite database
*.sqlite3